
.header{
  text-align: center;
}
.header-search{
  background-color: gray;
  border-top: #feb914 10px solid;
}
.header-search h1{
  margin-right: 500px;
}
.header-search input{
  margin: 10px;
}
.item1 {
  background-image: url(WallpaperDog-745068.jpg);
  color: white;
  background-size: cover; 
  height: 60vh;
  }
.item1 h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
h2, h3{
  color: #feb914;
  }
.item2{
  position: relative;
}
.item2 img{
  border-radius: 60%;
  margin-left: 5px;
  margin-top: -60px;
}
.item3 img{
  border-radius: 60%;
}
#footer{
  background-color: gray;
  border-top: #feb914 10px solid;
  display: flex;
  font-size: 12px;
  width: 100%;
}
#footer ul{
  display: inline-block;
  margin-left: 155px;
}
#footer a{
  color: white;
  display: flex;
  text-align: center;
  text-decoration: none;
}
  @media screen and (max-width: 600px) {
    .item2 img {
      margin-top: 0;
      
    }
  }
  @media screen and (max-width: 600px) {
    .item3 img{
      display: flex;
      margin-left: 140px;
    }
  }
  @media screen and (max-width: 600px) {
    .item3 h3{
      display: flex;
      margin-left: 170px;
    }
  }
  @media screen and (max-width: 600px) {
    .header-search h1 {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 600px) {
    #footer {
      display:inline-block;
    }
  }
  @media screen and (max-width: 600px) {
    #footer ul {
      display:inline-block;
      margin-left: 130px;
    }
  }

