
.header-search{
  background-color: gray;
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.header-search h1{
  color: white;
  display: flex;
  margin-left: 140px;
}
.header-search input{
  bottom: 50px;
  position: relative;
  width: 250px;
}
form {
  text-align: right;
  margin-right: 100px;
}
.item1{
  background-image: url(WallpaperDog-745068.jpg);
  color: white;
  background-size: cover; 
  height: 60vh;
}
.item1 h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2, h3{
  color: #feb914;
}
.item2{
  position: relative;
  text-align: center;
}
.item2 img{
  position: relative;
  border-radius: 60%;
  margin: -60px 50px 0px 60px;
  height: 110px;
  width: 110px;
}
figure {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.item3{
  text-align: center;
}
.item3 img{
  border-radius: 60%;
  width: 150px;
  height: 150px;
  margin: 25px 20px;
}
#footer{
  background-color: gray;
  border-top: #feb914 10px solid;
  display: flex;
  font-size: 12px;
}
#footer ul{
  display: inline-block;
  margin: 0 auto;
}
#footer li{
  color: white;
  display: flex;
  text-align: center;
  text-decoration: none;
}
#footer h1{
  color: #feb914;
}
@media screen and (max-width: 600px) {
  .header-search input{
    margin: auto;
    width: 70%;
    margin-left: 90px;
    margin-right: auto;
    top:0;
    }
  }
@media screen and (max-width: 600px) {
  .header-search h1 {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    }
  }
@media screen and (max-width: 600px) {
  .item2 img {
    margin-top: 0;
    margin: 0 auto;
    font-size: 10px;
    }
  }
@media screen and (max-width: 600px) {
  figure{
    display:inherit;
    }
  }
@media screen and (max-width: 375px) {
  .item3 img{
    height: 120px;
    width: 120px;
    }
  }
@media screen and (max-width: 600px) {
  #footer {
    display: flex;
    flex-direction: column;
    }
  }
@media screen and (max-width: 600px) {
  #footer li {
    flex-direction: column;
    margin-right: 40px;
    }
  }
